:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 1200px;
  margin: 50px auto;
}

nav ol {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
}

nav ol li {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 24px;
}
